body {
    height: 100%;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.txtCommand {
    border: none;
    position: absolute;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    width: 60%;
    height: 60px;
    font-size: 40px;
    line-height: 40px;
    background: rgba(0,0,0,0);
    padding-bottom: 10px;
    border-bottom: 5px solid #f8e879;
    color: #f8e879!important;
    text-align: center;
    outline: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #f8e879; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: #f8e879; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: #f8e879; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #f8e879; 
} 


.alpha {
    visibility: hidden;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.alpha.active {
    visibility: visible;
    background: rgba(0,0,0,0.4);
}

.pending, .drawn, .undrawn {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.showing {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.drawn-text {
    position: fixed;
    width: 100%;
    text-align: center;
    color: #df012e;
    visibility: hidden;
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    left: 0;
    top: 50%;
    display: block;
    text-decoration: none;
}

.drawn-text.active {
    transform: scale(1);
    -webkit-transform: scale(1);
    visibility: visible;
}

.enter {
    width: 60%;
    display: block;
    border: none;
    background: #f9d857;
    border-radius: 5px;
    padding: 8px 5px;
    margin: 20px auto;
    color: #b84c26;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    outline: none;
    position: fixed;
    left: 50%;
}

.loading {
    position: fixed;
    display: none;
    width: 140px;
    top: 40%;
    left: 50%;
    margin-left: -70px;
    z-index: 9999;
}